@import 'src/app/styles';

.custom-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: $borderRadius;
	border: none;
	cursor: pointer;

	&:hover {
		background: getHoverColor($primaryColor);
	}

	&_variant {
		&_outlined {
			padding: 0;
			background: none;
			color: $primaryColor;

			&:hover {
				background: none;
				opacity: $hoverOpacity;
			}
		}

		&_contained {
			padding: 8px 16px;
			background: $primaryColor;
			color: white;
			opacity: 1;
		}
	}
}
